{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/admin/index.css">
<link rel="stylesheet" href="/assets/admin/base.css">
{% endblock %}

{% block title %}Mes Pizza{% endblock %}

{% block body %}

<div class="container">
    <h1>Mes pizzas</h1>
    <div class="menu">
        {% for menu in menus %}
        <div class="menuHead">
            <div class="menuGauche">
                <h2>{{ menu.titre }}</h2>
                <p class="name">{{ menu.texte }} </p>
            </div>
            <div class="images">
                <img src="{{ menu.image }}"alt="" width="200">
            </div>
        </div>
    <div class="blockmenu">
        <div class="blockTexte">
            <h3>Description</h3>
            <p> {{ menu.texte2 }} </p>
            <h3>Prix</h3>
            <p> {{ menu.prix }} </p>
        <div>
            <a href="{{ path('menu_edit', {'id': menu.id}) }}"><button class="btnRetour">Modifier</button></a>
    </div>
</div>
    </div>

    {% endfor %}
      <a href="{{ path('home') }}"><button class="btnRetour">Retour</button></a>
</div>
    </div>
{% endblock %}